<!DOCTYPE html>
<html lang="pt-br">
<%- include('../visual/head.html'); %>
<body>

  <header>
    <%- include('../visual/menu.html'); %>
  </header>
  <main>

   <div class="registrado">
    <div class="reg-icon"> <i class="gg-check-o"></i> </div> 
    <div class="reg-desc">
        Parabéns, você está cadastrado!!
    </div>
    <div class="reg-btn">
        <a href="/login">Fazer login agora</a>
        <a href="/listaClientes">Listar Clientes(Adm)</a>
    </div>
   </div>


  </main>

  <footer class="footer">
    <div class="container">
      <div class="footer-content">
        <h3>Entre em contato conosco</h3>
        <p>Email: contato@sneakerhouse.com</p>
        <p>Telefone: +55 (11) 99678-0609</p>
        <p>Endereço: Rua João Bandini 2051</p>
      </div>
      <div class="footer-content">
        <h3>Navegação</h3>
        <ul class="list">
          <li><a href="">Home</a></li>
          <li><a href="">Marcas</a></li>
          <li><a href="#sobre">Sobre nós</a></li>
        </ul>
      </div>
      <div class="footer-content">
        <h3>Siga-nos nas redes</h3>
        <ul class="social-icons">
          <li><a href=""><i class="fab fa-facebook"></i></a></li>
          <li><a href=""><i class="fab fa-twitter"></i></a></li>
          <li><a href=""><i class="fab fa-instagram"></i></a></li>
          <li><a href=""><i class="fab fa-linkedin"></i></a></li>
        </ul>
      </div>
    </div>
    <div class="bottom-bar">
      <p>&copy; 2023 Sneaker House. Todos direitos reservados.</p>
    </div>
  </footer>
</body>
<script src="https://kit.fontawesome.com/1165876da6.js" crossorigin="anonymous"></script>

</html>