
@import url('https://fonts.cdnfonts.com/css/poppins');

html {
  scroll-behavior: smooth;
}

body{
  background: #f5f2d0;
  margin: 0;
}

.gg-profile,
.gg-profile::after,
.gg-profile::before {
    display: block;
    box-sizing: border-box;
    border: 2px solid;
    border-radius: 100px
}
.gg-profile {
    overflow: hidden;
    transform: scale(var(--ggs,1));
    width: 26px;
    height: 26px;
    position: relative
}
.gg-profile::after,
.gg-profile::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 6.5px;
    width: 9px;
    height: 9px;
}
.gg-profile::after {
    border-radius: 200px;
    top: 10px;
    left: 3.5px;
    width: 15px;
    height: 18px;
}

.navbar {
  float: right;
  border: 1px solid black;
  width: 100%;
  background-color: #141414;
  font-family: Poppins;
  list-style: none;
}

.navbar li {
  position: relative;
  float: right;
  font-size: 17px;
}

.navbar li a {
  color: white; 
  text-decoration:none;
  padding: 5px 15px; 
  display: block;
  list-style: none;
  transform: scale(1);
  transition: ease 0.5s;
}

.navbar li a:hover {
  transform: scale(1.05);
  transition: ease 0.5s;
  color:#fff;
  text-shadow:0px 0px 5px #fff;
  list-style: none;
}

.navbar li  ul{
  position: absolute;
  margin-top: 1%;
  left: 0;
  background-color: #141414;
  display: none;
  width: 4.7vw;
}

.navbar li:hover ul, .navbar li.over ul{
  display: block;
}

.gg-profile {
  bottom: 2px;
}

.navbar li ul li{
  display: block;
  width: 100px;
  text-align: left;
  list-style: none;
  text-decoration: none;
  padding-right: -15%;
  z-index: 5;
}

.search input[type=text]{
  padding: 4% 70% ;
  border-radius:25px;
  border: none;
  margin-top: 1%;
  justify-content: center;
  font-family: Poppins;
    }
         
.search{
  transform: scale(1);
  transition: ease 0.5s;
  margin-left: -18%;
    }
         
.search:hover{
  transform: scale(1.05);
  transition: ease 0.4s;
}

.subnav {
  border: 1px solid #0fb8b8;
  width: 100%;
  padding: 0.2% 0%;
  background-color: #0fb8b8;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  font-family: Poppins;
  border-radius: 0px 0px 35px 35px;
  display: flex;
  justify-content: center;
  margin-left: -0.1rem;
}

a#login-button.button.logout.login.w-button {
  background-color: white;
  background-image: none;
  border-radius: 25px;
  border-width: 0;
  color: #253858;
  cursor: pointer;
  display: block;
  float: left;
  font-family: Poppins;
  font-size: 12px;
  letter-spacing: 1px;
  position: absolute;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.5s;
  z-index: 30;
  transform: scale(1);
  transition: ease 0.4s;
}
 
a#login-button.button.logout.login.w-button:hover {
  background-color: #141414;
  border: white solid 1px;
  transform: scale(1.1);
  transition: ease 0.4s;
  color: white;
  font-weight: 400;
  outline: 0;
}

.login {
  margin-top: -0.66rem;
  margin-left: 0.5rem;
  width: 4rem;
  padding: 0.7rem 0%;
  text-align: center;
}

.subpromo {
  width: 100%;
  height: 4vh;
  font-family: Poppins, sans-serif;
  z-index: -1;
}

.subpromo-text {
  color: black;
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  position: relative;
  top: 25%;
  z-index: -1;
}


.mid-box {
  border: 5px;
  background: transparent;
  height: 600px;
  box-shadow: black;
  position: relative;
  margin-top: 11%;
}

.text-box {
  font-family: Poppins;
  font-size: 1.5rem;
  background: orange;
  width: 22rem;
  height: 4rem;
  margin-left: 2%;
  border-radius: 1rem;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: ease 0.5s;
  cursor: default;
}

.text-box p {
  margin-left: 4%;
  color: black;
  position: relative;
  z-index: 1;
  margin-top: -6.5%;
}

.text-box:hover {
  transform: scale(1.1)
}

.img-marcas {
  margin-top: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.img-marcas-nike:hover, .img-marcas-jordan:hover, .img-marcas-adidas:hover, .img-marcas-vans:hover {
  transform: scale(1.2);
  transition: ease 0.4s;
}

.img-marcas-nike, .img-marcas-jordan, .img-marcas-adidas, .img-marcas-vans {
  transform: scale(1);
  transition: ease 0.4s;
  border: black solid 1px;
  border-radius: 50%;
  width: 18%;
}

.container-tenis{
  width: 100%;
  max-height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, rgba(0,212,255,1) 1%, rgba(3,186,212,1) 14%, rgba(7,148,148,1) 60%, rgba(8,8,168,1) 100%);
  border-radius: 0px 0px 30px 30px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card {
  display: fixed;
  box-sizing: border-box;
  height: 25rem;
  width: 20rem;
  margin: 4%;
  background-color: white;
  border-radius: 5%;
  color: black;
  box-shadow: black 20px 20px 30px -5px;
  cursor: pointer;
  text-align: center;
}

.card-link{
  text-decoration: none;
  color: black;
}

.card-title{
  font-size: 1.4rem;
  margin-top: -4vh;
  color: black;
  font-family: Poppins;
  font-weight: 500;
}

.card-preco{
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 300;
  margin-top: -1%;
  margin-bottom: 2%;
  font-family: Poppins;
  transition: ease 0.5s;
}

.card:hover .card-preco {
  color: green;
  transform: scale(1.1);
}

.card-description{
  font-family: Poppins;
  margin-top: 0.1rem;
  padding: 1rem;
  font-size: 1rem;
}

.card-img{
  max-width: 70%;
  margin-top: -5%;
  height: auto;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
  transition: ease 0.5s;
}

.card:hover .card-img{
  transform: scale(1.1)
}

.ofertas {
  background: orange;
  width: 12rem;
  height: 4rem;
  font-family: Poppins;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 2%;
  margin-right: 0;
  margin-bottom: -3%;
  position: relative;
  border-radius: 1rem;
  border: black solid 1px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  text-align: center;
  transition: ease 0.5s;
}

.ofertas p {
  z-index: 5;
  width: 1rem;
  height: 1rem;
  margin-left: 20%;
  margin-top: 7%
}

.ofertas:hover {
  transform: scale(1.1)
}

.banner-img {
  margin-top: 10%;
  width: 100%;
  position: relative;
}

.newsletter {
  background: linear-gradient(90deg, rgba(0,212,255,1) 1%, rgba(3,186,212,1) 14%, rgba(7,148,148,1) 60%, rgba(8,8,168,1) 100%);
  font-family: Poppins;
  font-size: 1.5rem;
  color: black;
  width: 100%;
  height: 15rem;
  margin-top: 10%;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border-radius: 0px 0px 30px 30px;
  position: relative;
}

.um {
  position: absolute;
  margin-left: 3%;
  margin-top: 2%;
  font-weight: 500;
  text-shadow:0px 0px 2px white;
}

.form-newsletter {
  display: flex;
  width: 40%;
  overflow: hidden;
  box-sizing: border-box;

  border-radius: 7px;
  border: 2px solid orange;
  background-color: orange;
  position: absolute;
  margin-top: 8%;
  margin-left: 3%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-newsletter__campo {
  padding: .6rem .4rem;
  flex-grow: 1;
  border: none;
}

.form-newsletter__botao {
  flex-grow: 1;
  border: none;
  
  text-transform: uppercase;
  font-weight: 600;

  background-color: orange;
  color: #fff;
  box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24);
  transition: ease 0.1s;
  font-family: Poppins;
  cursor: pointer;
}

.form-newsletter__botao:active {
  transform: scale(0.90);
}

.redes-icons {
  position: absolute;
  margin-top: 16.4%;
  margin-left: 35%;
}

.redes-icons a {
  text-decoration: none;
  color: black;
  
}

.sobrenos {
  margin-top: -2%;
  height: 22rem;
  width: 100%;
  font-family: Poppins;
  background: #141414;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.sobre-title {
  font-size: 2rem;
  position: absolute;
  margin-top: 5%;
  background: orange;
  margin-left: 3%;
  width: 12rem;
  text-align: center;
  border-radius: 1rem;
  transition: ease 0.5s;
  cursor: default;
}

.sobre-title:hover {
  transform: scale(1.1);
}

.sobre-description {
  font-size: 1.1rem;
  position: absolute;
  margin-top: 10%;
  margin-left: 3%;
  margin-right: 3%;
}

.logo {
  margin-left: 50rem;
  width: 25rem;
  margin-top: -6rem;
}

.donos {
  background: #f5f2d0;
  width: 100%;
  height: 20rem;
  margin-top: 10%;
  font-family: Poppins;
  text-align: center;
}

.donos-content {
  margin-left: 2.5%;
  margin-right: 2%;
  font-size: 1.1rem;
  padding: 2% 2%;
  border: black groove 3px;
  transition: ease 0.5s;
  border-radius: 1rem;
  margin-top: -4%;
}

.donos-content:hover {
  transform: scale(1.03);
  border: orange groove 3px;
  background: #141414;
  color: white;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: black;
  text-decoration: none;
  border-radius: 1.5rem;
  transition: ease 0.5s;
}
.btn::after {
  content: "↑";
  font-size: 32px;
  font-weight: bold;
  color: white;
  transition: margin-top 250ms;
}
.btn:hover::after {
  margin-top:-8px;
}

.btn:hover {
  transform: scale(1.1)
}
    .footer{
  background: #141414;
  padding-top: 50px;
  z-index: 6;
  font-family: Poppins;
      
    }
    .container{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  background: #141414;
  font-family: Poppins;
    }
    .footer-content{
  width: 33.3%;
    }
    h3{
  font-size: 28px;
  margin-bottom: 1rem;
  text-align: center;
  color: white; 
    }
    .footer-content p{
  margin: auto;
  padding: 1rem;
  color: white;
  text-align: center;
  font-weight: 300;
    }
    .footer-content ul{
  text-align: center;
    }
    .list{
        padding: 0;
    }
    .list li{
        width: auto;
        text-align: center;
        list-style-type:none;
        padding: 0.5rem;
        position: relative;
    }
.list a {
    text-decoration: none;
  color: white;
}
    .list li::before{
        content: '';
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 100%;
        width: 0;
        height: 0.1rem;
        background: orange;
        transition-duration: .5s;
    }
    .list li:hover::before{
        width: 4rem;
    }
    .social-icons{
        text-align: center;
        padding: 0;
    }
    .social-icons li{
        display: inline-block;
        text-align: center;
        padding: 0.5rem;
    }
    .social-icons i{
        color: white;
        font-size: 25px;
      transition: ease 0.5s;
    }
    a{
        text-decoration: none;
    }
    a:hover{
        color: orange;
    }
    .social-icons i:hover{
        color: orange;
        transform: scale(1.1);
    }
    .bottom-bar{
        background: orange;
        text-align: center;
        padding: 0.5rem 0;
    }
    .bottom-bar p{
        color: black;
        margin: 0;
        font-size: 15px;
        padding: 0.5rem;
        font-weight: 300;
        font-family: Poppins;
    }

.container-all {
  background: linear-gradient(90deg, rgba(0,212,255,1) 1%, rgba(3,186,212,1) 14%, rgba(7,148,148,1) 60%, rgba(8,8,168,1) 100%);
  width: 90%;
  margin: 5%;
  height: 55rem;
  box-shadow: rgb(38, 57, 77) 15px 20px 30px -10px;
}

.btn-cep {
  background: orange;
  width: 13rem;
  height: 10vh;
  border-radius: 2rem;
  font-family: Poppins;
  font-size: 16px;
  cursor: pointer;
}